raspberrypi2solace/subscribe/SCADA_subscribe_v5.json
[{"id":"4fa71ddd.5187f4","type":"tab","label":"IoT Cloud SCADA - AWS","disabled":false,"info":""},{"id":"89f1640f.b4e9c8","type":"ui_gauge","z":"4fa71ddd.5187f4","name":"Analyzer","group":"a96fd94e.82a198","order":0,"width":"4","height":"4","gtype":"gage","title":"ppb","label":"ppb","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":400,"wires":[]},{"id":"8f143550.c10a08","type":"ui_gauge","z":"4fa71ddd.5187f4","name":"Pressure","group":"94a85536.4b88f8","order":1,"width":"4","height":"4","gtype":"donut","title":"psi","label":"psi","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":220,"wires":[]},{"id":"4cb5e316.ddff1c","type":"mqtt in","z":"4fa71ddd.5187f4","name":"Temperature Events via Solace","topic":"devices/temperature/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":150,"y":40,"wires":[["d9a405b4.9bb028"]]},{"id":"8b253c14.c8f01","type":"ui_chart","z":"4fa71ddd.5187f4","name":"Temperature","group":"6a86c28b.39cffc","order":1,"width":"10","height":"5","label":"deg F","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":40,"wires":[[]]},{"id":"574bddff.cf7194","type":"ui_gauge","z":"4fa71ddd.5187f4","name":"Level","group":"5d0ad248.51162c","order":1,"width":"4","height":"4","gtype":"wave","title":"%","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":120,"wires":[]},{"id":"d5052e4f.1eb8","type":"function","z":"4fa71ddd.5187f4","name":"Parse Level","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.level + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["574bddff.cf7194","512258ca.eaa4e8"]]},{"id":"375e38e4.7188a8","type":"function","z":"4fa71ddd.5187f4","name":"Parse NoX","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.nox + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["89f1640f.b4e9c8","512258ca.eaa4e8"]]},{"id":"64ecd7f5.067ab8","type":"function","z":"4fa71ddd.5187f4","name":"Parse Pressure","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.pressure + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["8f143550.c10a08","512258ca.eaa4e8"]]},{"id":"d9a405b4.9bb028","type":"function","z":"4fa71ddd.5187f4","name":"Parse Temperature","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.Temperature + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":430,"y":40,"wires":[["8b253c14.c8f01","512258ca.eaa4e8"]]},{"id":"1c728687.3f1ea9","type":"mqtt in","z":"4fa71ddd.5187f4","name":"Level Events via Solace","topic":"devices/level/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":120,"y":120,"wires":[["d5052e4f.1eb8"]]},{"id":"e719c1fa.13387","type":"mqtt in","z":"4fa71ddd.5187f4","name":"Pressure Events via Solace","topic":"devices/pressure/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":130,"y":220,"wires":[["64ecd7f5.067ab8"]]},{"id":"57d708bf.791158","type":"mqtt in","z":"4fa71ddd.5187f4","name":"Humidity Events via Solace","topic":"devices/humidity/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":130,"y":300,"wires":[["5b4341d8.1c54e"]]},{"id":"5b4341d8.1c54e","type":"function","z":"4fa71ddd.5187f4","name":"Parse Humidity","func":"var obj = JSON.parse(msg.payload);\nmsg.payload =  obj.Humidity + getRndInteger(10, 20);\nreturn msg;\n\nfunction getRndInteger(min, max) {\n  return Math.floor(Math.random() * (max - min) ) + min;\n}\n","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["512258ca.eaa4e8","9240acdf.2c99b"]]},{"id":"dc967c12.6761f","type":"mqtt in","z":"4fa71ddd.5187f4","name":"NoX Events via Solace","topic":"devices/nox/events","qos":"1","datatype":"auto","broker":"db9a6ee9.d16a4","x":120,"y":400,"wires":[["375e38e4.7188a8"]]},{"id":"512258ca.eaa4e8","type":"debug","z":"4fa71ddd.5187f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":480,"wires":[]},{"id":"9240acdf.2c99b","type":"ui_chart","z":"4fa71ddd.5187f4","name":"Humidity","group":"6a86c28b.39cffc","order":1,"width":"10","height":"5","label":"%","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":660,"y":300,"wires":[[]]},{"id":"a96fd94e.82a198","type":"ui_group","z":"","name":"NoX","tab":"da26ed37.4b6ce","disp":true,"width":"6","collapse":false},{"id":"94a85536.4b88f8","type":"ui_group","z":"","name":"Pressure","tab":"da26ed37.4b6ce","disp":true,"width":"6","collapse":false},{"id":"db9a6ee9.d16a4","type":"mqtt-broker","z":"","name":"VatsSolaceGCP","broker":"tcp://mr1u6o37qngitn.messaging.solace.cloud","port":"1883","clientid":"vats_client","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"devices/+/events","birthQos":"1","birthPayload":"msg.payload","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6a86c28b.39cffc","type":"ui_group","z":"","name":"Flue gas Temperature","tab":"da26ed37.4b6ce","disp":true,"width":"10","collapse":false},{"id":"5d0ad248.51162c","type":"ui_group","z":"","name":"Level","tab":"da26ed37.4b6ce","disp":true,"width":"6","collapse":false},{"id":"da26ed37.4b6ce","type":"ui_tab","z":"","name":"IoT AWS Cloud SCADA - Enabled by Solace Event Mesh ","icon":"dashboard","disabled":false,"hidden":false}]